@font-face {
  font-family: "lexend";
  src: url("./resources//fonts/lexend.woff2") format("woff2"),
    url("./resources//fonts//lexend.woff") format("woff");
}

body {
  font-family: "lexend", Fallback, sans-serif;
  background-color: #F4F7FF !important;
}

.MuiDrawer-paper {
  border-radius: 0px 35px 35px 0px;
  border: none !important;
}